<div class="flex bg-surface rounded-lg p-10 gap-10 shadow">
  <div class="flex flex-col flex-1 gap-5">
    <div class="text-4xl">
      About Me
    </div>

    <div class="flex flex-1">
      <%= yield %>
    </div>
  </div>

  <% if local_assigns[:card_image_path] %>
    <div class="flex flex-1 relative">
      <div class="absolute right-0 top-0 rounded-lg shadow bg-secondary h-[calc(100%-1rem)] w-[calc(100%-1rem)] "></div>
      <div class="absolute left-0 bottom-0 rounded-lg shadow bg-no-repeat bg-cover bg-center h-[calc(100%-1rem)] w-[calc(100%-1rem)] "
           style="background-image: url('<%= local_assigns[:card_image_path] %>')"></div>
    </div>
  <% end %>
</div>