<div class="flex">
  <div class="text-4xl">
    <%= local_assigns[:header] %>
  </div>

  <div class="flex flex-1 items-center pl-5">
    <div class="w-full h-[2px] bg-secondary"></div>
  </div>
</div>