<nav class="flex flex-1 flex-col items-center gap-10 text-neutral">
  <%= link_to about_path, class: 'transition duration-100 hover:scale-125' do %>
    <div class="py-5 px-10 rounded text-6xl relative bg-surface shadow">
      <i class="fa-solid fa-sun"></i>
    </div>
  <% end %>

  <%= link_to root_path, class: 'transition duration-100 hover:scale-125' do %>
    <div class="py-5 px-10 rounded  text-6xl relative bg-surface shadow">
      <i class="fa-solid fa-sun"></i>
    </div>
  <% end %>

  <%= link_to root_path do %>
    <div class="py-5 px-10 rounded  text-6xl relative bg-surface shadow">
      <i class="fa-solid fa-sun"></i>
    </div>
  <% end %>

  <%= link_to root_path do %>
    <div class="py-5 px-10 rounded  text-6xl relative bg-surface shadow">
      <i class="fa-solid fa-sun"></i>
    </div>
  <% end %>
</nav>
