<nav class="flex w-screen gap-5 bg-gray-200">
  <%= link_to root_path, class: 'flex flex-1' do %>
    <div class="p-3 text-lg">
      Sonny Huynh
    </div>
  <% end %>
  <div class="flex gap-5">
    <%= link_to root_path do %>
      <div class="p-3 text-lg">
        Home
      </div>
    <% end %>
  </div>
  <div class="flex flex-1"></div>
</nav>