<nav class="flex flex-col items-center p-10 gap-5 bg-neutral text-white w-[20%]">
  <%= link_to root_path, class: 'flex' do %>
    <div class="p-3 text-3xl">
      Sonny Huynh
    </div>
  <% end %>
  <div class="flex gap-5">
    <%= link_to root_path do %>
      <div class="p-3 text-2xl">
        Home
      </div>
    <% end %>
  </div>
</nav>