<div class="flex flex-1 flex-col overflow-x-hidden">
  <%= render 'shared/header', header_text: 'Home' %>

  <div class="flex flex-col px-20">
    <div class="bg-surface rounded-lg p-10">
      Lorem Ipsum
    </div>
  </div>
</div>
