<%= render 'shared/card' do %>
  <div class="">
    Home / About Me
  </div>
  <div class="">
    "Hello! I'm [Your Name], a passionate software engineer specializing in web development and cloud computing. With a strong background in coding and problem-solving, I aim to create efficient and scalable software solutions. Welcome to my personal resume website!"
  </div>
<% end %>
