<div class="flex flex-1">
  <div id="left" class="flex-1 max-w-[20%]"></div>

  <div id="center" class="flex flex-col flex-1">
    <div class="flex-1 max-h-[15%]"></div>

    <div class="flex flex-1">
      <%= render 'shared/card' do %>
        <%= turbo_frame_tag :content, src: about_path, class: 'flex flex-1' %>
      <% end %>
    </div>

    <div class="flex flex-1 max-h-[15%]">
      <%= render 'shared/socials' %>
    </div>
  </div>

  <div id="right" class="flex flex-col flex-1 max-w-[20%]">
    <div class="flex-1 max-h-[15%]"></div>

    <%= render 'shared/nav' %>

    <div class="flex-1 max-h-[15%]"></div>
  </div>
</div>
