<div class="">
  <%= render 'shared/card' do %>
    <div class="flex items-center px-2">
      <%= image_tag icon, class: 'w-10 p-2' %>
      <div class="text-sm text-neutral px-2">
        <%= skill %>
      </div>
    </div>
  <% end %>
</div>